<!-- 방명록 페이지, 방명록 조회,작성,수정,삭제 가능 (박주영) -->

<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<!-- 방명록 목록 시작 -->
		<h3 class="p-3">방명록 리스트</h3>

		<div class="row text-center" width="100%" style="margin: 0 auto">
			<div class="col-md-3 m-1" id="id">
				<img th:src="@{/images/mini.jpg}" width="100%"
					class="d-inline-block center-block"> [[${user}]]
			</div>
			<textarea class="col-md-7" name="booktext" id='newBookText' rows=10></textarea>
			<button class="btn btn-info col-md-1 ml-3" id="bookAddBtn">등록</button>
		</div>

		<!-- 방명록 리스트 -->
		<ul id="books" class="mt-5" th:if="${not #lists.isEmpty(list)}"
			th:each="dto: ${list}"
			style="list-style-type: none; font-size: 1.1rem">
			<li id="item">
				<div class="row pt-3 pb-3" style="background-color: #E0E0E0">
					<div class="col-md-7">
						No.<span id="gno" th:text="${dto.gno}"></span><span id="gname" class="ml-1" th:text="${dto.name}"></span><span>
							([[${#calendars.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}]]) </span>
					</div>
					<!-- 현재 유저와 댓글 작성자가 같을 경우에만 수정/삭제 버튼 노출 -->
					<div class="col-md-5" th:if="${user} == ${dto.name}">
						<div class="float-right" id="modDiv">
							<button onclick="updateBook(this)" id="bookUpdateBtn">수정</button>
							<button onclick="deleteBook(this)" id="bookDeleteBtn">삭제</button>
						</div>
					</div>
				</div>
				<div class="row p-3 bg-light">
					<img th:src="@{/images/mini.jpg}"
						class="d-inline-block center-block col-md-3">
					<div class="p-3 col-md-8" id="bookContent" th:text="${dto.content}"></div>
				</div>
			</li>
		</ul>

		
		<!-- 방명록 리스트 끝 -->

		<script th:inline="javascript">
			
			// /guestbook/insert 요청
			// 방명록 INSERT 요청
			// Ajax 통신 이용하여 REST API POST방식으로 요청
			  $("#bookAddBtn").on("click", function() {
				  const bookText = $("#newBookText").val();
				  
				  const formData = new FormData();
				  formData.append("content", bookText);
				  
				// 전송 시 header에 JWT토큰을 넣어줌
				  $.ajax({
						url: "[(@{/guestbook/insert})]",
						headers: {Authorization:`Bearer ${sessionStorage.getItem("jwt")}`},
						method: "post",
						data: formData,
						processData: false,
						contentType: false,
						cache: false
					}).done((data) => {
						console.log(data);
						location.reload();
					});
			  })
			  
			  // 수정 버튼 클릭 시 수정 창 띄우기
			  function updateBook(obj) {
				  var li = $(obj).parent().parent().parent().parent(); // li
				  var div = li.find("#bookContent");
				  
				  var newContent = document.createElement("textarea");
				  newContent.setAttribute("id","newBookContent");
				  newContent.setAttribute("class", "ml-3 col-md-7");
				  newContent.innerHTML = div.text();
				  var newBtn = document.createElement("button");
				  newBtn.setAttribute("onclick", "updateNewBook(this)");
				  newBtn.setAttribute("id", "updateBtn");
				  newBtn.setAttribute("class", "btn btn-info ml-1, col-md-1");
				  newBtn.innerHTML = "수정";
				  
				  var div2 = div.parent();
				  div2.append(newContent);
				  div2.append(newBtn);
				  div.remove();
				  
			  }

				// /guestbook/update 요청
				// 방명록 UPDATE 요청
				// Ajax 통신 이용하여 REST API PUT방식으로 요청
			  function updateNewBook(obj) {
				  var li = $(obj).parent().parent(); // li
				  var gno = li.find("#gno").text();
				  var newContent = li.find("#newBookContent").val();
				  
				  const formData = new FormData();
				  formData.append("gno", gno);
				formData.append("content", newContent);
				// 전송 시 header에 JWT토큰을 넣어줌
				  $.ajax({
						url: "[(@{/guestbook/update})]",
						headers: {Authorization:`Bearer ${sessionStorage.getItem("jwt")}`},
						method: "put",
						data : formData,
						processData: false,
						contentType: false,
						cache: false
					}).done((data) => {
						console.log(data.bno);
						location.reload();
					});
			  }
			  
			  
				// /guestbook/{gno} 요청
				// 방명록 DELETE 요청
				// Ajax 통신 이용하여 REST API DELETE방식으로 요청
			  function deleteBook(obj) {
				  var li = $(obj).parent().parent().parent().parent(); // li
				  var gno = li.find("#gno").text();
				// 전송 시 header에 JWT토큰을 넣어줌
				  $.ajax({
					  	url : "[(@{/guestbook/})]" + gno,
					  	headers: {Authorization:`Bearer ${sessionStorage.getItem("jwt")}`},
					  	method: "delete",
						processData: false,
						contentType: false,
						cache: false
					}).done((data) => {
						console.log(data);
						alert("삭제되었습니다.");
						location.reload();
					});
			  }
			  
			  $("#closeBtn").on("click", function() {
				  $("#modDiv").hide("slow");
			  });
			  
			           
		</script>
	</th:block>
</th:block>
</html>