<ul class="nav flex-column">
	<li class="nav-item mb-2 home">
		<a th:href="@{/}" class="btn btn-info" style="width:100%">홈</a>
	</li>
	<li class="nav-item mb-2 home">
		<a onclick="goBoard()" class="btn btn-info boardBtn">게시판</a>
	</li>
	<li class="nav-item mb-2 home">
		<a onclick="goGuestbook()" class="btn btn-info">방명록</a>
	</li>
</ul>

<script th:inline="javascript">

	function goBoard() {
		var token = sessionStorage.getItem("jwt");
		if(token == null) {
			alert("로그인 후 이용해주세요.");
			return;
		}
		var form = document.createElement("form");
		form.action = "/board";
		form.method = "POST";
		form.innerHTML = "<input name='Authorization' value='" + "`Bearer" + token + "`'>";
		document.body.append(form);
		
		form.submit();
	}
	
	function goGuestbook() {
		var token = sessionStorage.getItem("jwt");
		if(token == null) {
			alert("로그인 후 이용해주세요.");
			return;
		}
		var form = document.createElement("form");
		form.action = "/guestbook";
		form.method = "POST";
		form.innerHTML = "<input name='Authorization' value='" + "`Bearer" + token + "`'>";
		document.body.append(form);
		
		form.submit();
	}
	
</script>
