<!-- 게시글 작성 페이지 (박주영) -->

<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
<!-- 게시물 쓰기 시작 -->
	<div class="card m-2">
		<div class="card-header">게시물 쓰기</div>
		<div class="card-body">
			<div>
				<form id="boardInsertForm">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">제목</span>
						</div>
						<input type="text" name="title" class="form-control">
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">내용</span>
						</div>
						<textarea name="content" class="form-control" wrap="hard" rows="20"></textarea>
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">첨부파일</span>
						</div>
						<input type="file" class="form-control" name="attach">
					</div>

					<div class="mt-3">
						<a href="javascript:createBoard()"
							class="btn btn-info btn-sm mr-2">작성하기</a>
					</div>
				</form>
				<script th:inline="javascript">
				
				// /board/detail 요청
				// 작성한 게시글 상세 페이지로 이동
				// JWT 토큰과 게시글 번호 전달, form을 POST 방식으로 전송
				function goDetail(bno) {
					var token = sessionStorage.getItem("jwt");

					var form = document.createElement("form");
					form.action = "/board/detail";
					form.method = "POST";
					form.innerHTML = "<input name='Authorization' value='" + "`Bearer" + token + "`'>";
					form.innerHTML += "<input name='bno' value='" + bno + "'>";
					document.body.append(form);

					form.submit();
				}
				
				// /board/insert 요청
				// 작성한 게시글 INSERT 요청
				// Ajax 통신 이용하여 REST API POST방식으로 요청
				function createBoard() {
					const title = $("#boardInsertForm [name=title]").val();
					const content = $("#boardInsertForm [name=content]").val();
					const id = $("#boardInsertForm [name=id]").val();
					const attach = document.querySelector("#boardInsertForm [name=attach]").files[0];
					
					//Multipart/form-data
					const formData = new FormData();
					formData.append("title", title);
					formData.append("content", content);
					formData.append("id", id);
					if(attach) {
						formData.append("attach", attach);
					}//end if
					
					// 전송 시 header에 JWT토큰을 넣어줌
					$.ajax({
						url: "[(@{/board/insert})]",
						headers: {Authorization:`Bearer ${sessionStorage.getItem("jwt")}`},
						method: "post",
						data: formData,
						processData: false,
						contentType: false,
						cache: false
					}).done((data) => {
						console.log(data);
						var bno = data.bno;
						goDetail(bno);
					});
				}
			</script>
			</div>
		</div>
	</div>
	<!-- 게시물 쓰기 끝 -->
	</th:block>
</th:block>
</html>
