<!-- 게시글 수정 페이지 (박주영) -->

<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
			<!-- 게시물 수정 시작 -->
	<div class="card m-2">
		<div class="card-header">게시물 수정</div>
		<div class="card-body">
			<div>
				<form id="boardUpdateForm">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">번호</span>
						</div>
						<input type="text" name="bno" class="form-control" th:value="${boardDTO.bno}" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">제목</span>
						</div>
						<input type="text" name="title" class="form-control" th:value="${boardDTO.title}">
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">내용</span>
						</div>
						<textarea name="content" class="form-control" wrap="hard" rows="20">[[${boardDTO.content}]]</textarea>
					</div>
					
					<div class="mt-3">
						<a href="javascript:updateBoard()"
							class="btn btn-info btn-sm mr-2">수정하기</a>
					</div>
				</form>
				<script th:inline="javascript">
				
				// /board/detail 요청
				// 수정한 게시글 상세 페이지로 이동
				// JWT 토큰과 게시글 번호 전달, form을 POST 방식으로 전송
				function goDetail(bno) {
					var token = sessionStorage.getItem("jwt");

					var form = document.createElement("form");
					form.action = "/board/detail";
					form.method = "POST";
					form.innerHTML = "<input name='Authorization' value='" + "`Bearer" + token + "`'>";
					form.innerHTML += "<input name='bno' value='" + bno + "'>";
					document.body.append(form);

					form.submit();
				}
				
				// /board/update 요청
				// 수정한 게시글 UPDATE 요청
				// Ajax 통신 이용하여 REST API POST방식으로 요청
				function updateBoard() {
					const bno = $("#boardUpdateForm [name=bno]").val();
					const title = $("#boardUpdateForm [name=title]").val();
					const content = $("#boardUpdateForm [name=content]").val();

					//Multipart/form-data
					const formData = new FormData();
					formData.append("bno", bno);
					formData.append("title", title);
					formData.append("content", content);
		
					// 전송 시 header에 JWT토큰을 넣어줌
					$.ajax({
						url: "[(@{/board/update})]",
						headers: {Authorization:`Bearer ${sessionStorage.getItem("jwt")}`},
						//multipart/form-data 인코딩된 데이터는 반드시 POST 방식으로 처리(PUT 방식이 아님)
						method: "post",
						data: formData,
						processData: false,
						contentType: false,
						cache: false
					}).done((data) => {
						console.log(data.bno);
						goDetail(bno);
					});
				}
			</script>
			</div>
		</div>
	</div>
	<!-- 게시물 수정 끝 -->
	</th:block>
</th:block>
</html>